@import 'vxe-table/lib/style.min.css';
@import 'vxe-pc-ui/lib/style.min.css';
@import '@admin-core/table-core/styles/table.css';

.admin-table-vxe {
  min-height: 180px;
}

.admin-table-vxe .vxe-toolbar {
  padding: 0;
}
